<ion-header>
  <ion-navbar>
    <ion-title>
      Adicionais e Agendamento
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item class="divisao divisao-tema" color="dark" (click)="esconder_mostrar()">
      <ion-label>Aparelhos</ion-label>
    </ion-item>

    <div *ngIf="( this.aparelhos )">
      <ion-item class="divisao">
        <ion-label><h2>Ar-condicionado</h2></ion-label>
        <ion-toggle [(ngModel)]="this.ar"></ion-toggle>
      </ion-item>

      <ion-item class="divisao">
        <ion-label><h2>Data-show</h2></ion-label>
        <ion-toggle [(ngModel)]="this.ds"></ion-toggle>
      </ion-item>

      <ion-item class="divisao">
        <ion-label><h2>Outros</h2></ion-label>
        <ion-input [(ngModel)]="this.outros" type="text" placeholder="Ex.: Cabo HDMI, Caixa de som, Cabo de rede..."></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-item class="divisao divisao-tema" color="dark" (click)="esconder_mostrar()">
      <ion-label>Agendamento</ion-label>
    </ion-item>

    <div *ngIf="( this.agendamento )">
      <ion-item class="divisao">
        <ion-label><h2>Dia</h2></ion-label>
        <ion-datetime [(ngModel)]="this.d" displayFormat="DD/MM" cancelText="Cancelar" doneText="Enviar"></ion-datetime>
      </ion-item>

      <ion-item class="divisao">
        <ion-label><h2>Horario</h2></ion-label>
        <ion-datetime [(ngModel)]="this.hora" displayFormat="HH:mm" cancelText="Cancelar" doneText="Enviar"></ion-datetime>
      </ion-item>

      <ion-item class="divisao">
        <ion-label><h2>Ar-condicionado</h2></ion-label>
        <ion-toggle [(ngModel)]="this.ar"></ion-toggle>
      </ion-item>

      <ion-item class="divisao">
        <ion-label><h2>Data-show</h2></ion-label>
        <ion-toggle [(ngModel)]="this.ds"></ion-toggle>
      </ion-item>

      <ion-item class="divisao">
        <ion-label><h2>Outros</h2></ion-label>
        <ion-input [(ngModel)]="this.outros" type="text" placeholder="Ex.: Cabo HDMI, Caixa de som, Cabo de rede..."></ion-input>
      </ion-item>
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="enviar" color="secondary" (click)="enviar()" ion-button icon-only full>
      Solicitar
      <ion-icon name="send" icon-end></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
