<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Mural de Avisos</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="lab">
      <ion-segment-button value="laboratorio">
        Bloco de Notas
      </ion-segment-button>
      <ion-segment-button value="QH">
        Monitorias
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="lab">

    <ion-list *ngSwitchCase="'QH'">
      <ion-card *ngFor="let qh of item">
        <div class="qh-title">{{qh.disciplina}}</div>
        <div class="qh-subtitle">{{qh.professor}}</div>
      </ion-card>
    </ion-list>

    <!-- <ion-list *ngSwitchCase="'laboratorio'">
      <ion-card *ngFor="let labs of salas | async">
        <img src="assets/image/fundo.jpg"/>
        <div class="card-title">{{labs.tipo}} {{labs.numero}}</div>
        <div class="card-subtitle">{{labs.responsavel}}{{labs.aula}}</div>
      </ion-card>
    </ion-list> -->

  </div>
</ion-content>
