page-home {

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 900;
    color: #364a3c;
  }

  .toolbar-title {
    align: center;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fab-ios-secondary {
    color: #fff;
    background-color: rgba(44, 82, 70, 0.78);
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.5em;
      position: absolute;
      top: 65%;
      width: 100%;
      color: #fff;
    }

    .action-sheets-basic-page {
      .ion-md-share {
        color: #ED4248;
      }
      .ion-md-arrow-dropright-circle {
        color: #508AE4;
      }
      .ion-md-heart-outline {
        color: #31D55F;
      }
      .action-sheet-cancel ion-icon,
      .action-sheet-destructive ion-icon {
        color: #757575;
      }
  }
}

}
