page-home {

  .toolbar-background-md {
    border-color: #ffffff;
    background: rgb(203,191,177);
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 900;
    // color: #fff;
  }

  .toolbar-title {
    align: center;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-md {
    border-radius: 8px;
  }

  .card-background-page {

    // background-color: #555;

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.5em;
      position: absolute;
      top: 65%;
      width: 100%;
      color: #fff;
    }
  }
}
